*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container>div{
    width: 50vw;
}
img{

    margin: 20px 0 20px 0;
    box-shadow: 0px 0px 5px rgb(39, 37, 37);
    border: 1px solid black;
}
h1{
    font-size: 25px;
    color: rgb(26, 136, 170);
    border-bottom: 1px solid rgb(238, 203, 203);
    margin-bottom: 10px;
}

label{
    display:block;
    color: rgb(26, 136, 170);
    font-size: 18px;
}
input{
    display: block;
    width: 100%;
    font-size: 15px;


    padding: 10px;
    margin: 6px 0 10px 0;
    border:1px solid rgb(26, 136, 170) ;
}
input:focus{
    outline:none ;
    border:1.6px solid rgb(17, 98, 122) ;
}
button{
    padding: 10px 5px 10px 5px;
    font-size: 11px;
    border-radius: 5px;
    border: none;

}
.download_qr{
    background-color: rgb(3, 122, 3);
    margin-left: 5px;
    color: white;
    transition: 0.2s;
}
.download_qr:hover{
    background-color: rgb(3, 75, 3);
}
.generate_btn{
    background-color: rgb(35, 156, 204);
    transition: 0.2s;
    color: white;
}
.generate_btn:hover{
    background-color: rgb(12, 124, 168);
}
.generate_btn:disabled{
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .container>div {
        width: 90vw;
    }
}
